<h1 class="page-header"><%= @artist.name %></h1>
<div class="song-list"
  <% @songs.each do |track| %>
    <li>
      <%= track.name %>
      <%= form_for @track, url:"/playlists/#{params[:id]}/addTrack", method: "post" do |f| %>
        <%= f.hidden_field :title, :value => track.name %>
        <%= f.hidden_field :artist, :value => @artist.name %>
        <%= f.hidden_field :spotify_track_id, :value => track.id %>
        <%= f.submit :value=>"Add to Playlist", class: "btn btn-primary btn-sm" %>
      <% end %>
    </li>
  <% end %>
</div>
