

<div class="player"><iframe src="<%= @spotifyURL %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe></div>

<h1 class="page-header">Search Artists</h1>
<%= form_tag "/playlists/#{@playlist.id}/searchArtist", method: "post", action: "show", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn-primary btn-lg" %>
<% end %>

<h1>Playlist: "<%= @playlist.name %>" </h1>
<ul>
  <h2>Tracks:</h2>

<div class="track-list"
<% @playlist.tracks.each do |track| %>
  <li data-id="<%=track.spotify_track_id%>">|Title|<strong> <%= track.title %></strong> |Artist|<strong> <%= track.artist %></strong>  <%= button_to "X", delete_track_path(track), method: :delete, params: {id: track.id} %></li>

<% end %>

</ul>
</div>
