<!DOCTYPE html>
<html>
<head>
  <title>PlayApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
        <ul>
          <li><a id="play" href="/">Playlist Curator</a></li>
          <li><a href="/playlists">Playlists</a></li>
          <li><a href="/playlists/new">Add A Playlist</a></li>
          <li><a href="auth/spotify"> <%= image_tag("/spot-logo.png") %> </a></li>
        </ul>
      </nav>
  </header>
<main>
<%= yield %>
</main>
</body>
  <footer>
    &copy; Playlist Curator 2016
  </footer>
</html>
